.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding-bottom: 5px;
    position: relative;
    &>.state{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    &>.head{
        &>h2{
            color: darkblue;
        }
    }
    &>.body{
        display: flex;
        flex-direction: column;
        &>.info{
            display: flex;
            &>.traineeInfo{
                display: flex;
                flex:1;
                padding-right: 50px;
                padding-left: 10px;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid black;
                &>span{
                    font-size: 1.5rem;
                    margin: 15px 0px;
                }
            }
            &>.internshipInfo{
                display: flex;
                flex:1;
                padding-left: 10px;
                padding-right: 40px;
                flex-direction: column;
                align-items: center;
                max-width: 350px;
                &>span.title{
                    font-size: 1.5rem;
                    margin: 15px 0px;
                }
            }
        }
        &>.btnGroup{
            align-self: flex-start;
            margin: 20px 50px;
        }
    }
}